<div class="section section-header" >
    <div class="parallax filter filter-color-red" >
        <div class="image" style="background-image: url('../../assets/images/header.jpg')"></div>
        <div class="container" >

        
            <div class="content">
                        
                <div class="title-area" >
                    <p>A One Stop Solution for Utility Payments and Medical assistance for the Elderly  </p>
                    <h1 class="title-modern">CALMS</h1>
                    <h3>Citizen Assisted Living Management System</h3>
                    <div class="separator line-separator">♦</div>
                
                </div>   
            </div>
        </div>
     
        
    </div>
    
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Our Services</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">We promise you the best services, a kind and friendly attitude. We build that by getting to know you, your needs and creating the most ideal platform for you to easily manage your home needs and personal needs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                  
                    <div class="icondisplay">
                        <img src="../../assets/images/electric.png" alt="">
                    </div>
                    <h3>Electricity Bill payments</h3>
                    <p class="description">Paying electricity bill online is the most helpful option, you can pay anywhere & anytime without jumping the deadline. We can pay your EB bill without missing out the last date of electricity bill payment that leads to extra payment of late charges. We offer a convenient platform for hassle-free bill payment.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icondisplay">
                        <img src="../../assets/images/medical-1.png" alt="">
                    </div>
                    <h3>Medical Services</h3>
                    <p class="description">We have tied with up Apollo Diagnostics who offer the sheer convenience of Home Sample Collection.
                        On receiving a call, Apollo’s trained technicians arrive at the doorstep of the patient to collect samples. Home collection is completely free of cost and reports can be mailed to you or can be delivered at home (On Chargeable Basis) the very next day.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icondisplay">
                        <img src="../../assets/images/quality.png" alt="">
                    </div>
                    <h3>Adherence to Standards</h3>
                    <p class="description">We observe standardized processes and security guidelines for on-us and off-us bill collections.
                        Customer satisfaction is our key priority, and so all our process are audited on an annual basis. We ensure the top standards in customer interaction,
                        timely payment and communicating with you in case of any issues
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icondisplay">
                        <img src="../../assets/images/receipt.png" alt="">
                    </div>
                    <h3>Instant Confirmation</h3>
                    <p class="description">We furnish instant payment confirmation receipt in the form of email. </p>
                </div>
            </div>
            <div class="col-md-4">
               
            </div>
        </div>
    </div>
</div>

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-grey">
        <div class="image" style="background-image:url('../../assets/images/office-1.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Who We Are</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">We are a young, dynamic service oriented team, focussed on alleviating the concerns of the elderly .</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="../../assets/images/face_1.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Jayce</h3>
                                                <p class="small-text">CEO / Co-Founder</p>
                                                <p class="description">My passion is people and technology and I love collaborating to bring these two passions together.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="../../assets/images/face_2.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Ashish</h3>
                                                <p class="small-text">Product Designer</p>
                                                <p class="description">I am a software consultant, and love to design and bring ideas to life through innovative designs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="../../assets/images/face_3.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Susan</h3>
                                                <p class="small-text">Marketing Pro</p>
                                                <p class="description">I am a business grad, passionate about connecting the technology advancements with people.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-clients-freebie ">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Here are some</h5>
            <h2>Clients Testimonials</h2>
            <div class="separator separator-danger">∎</div>
        </div>
        <div id="testimonials">
            <div class="avatar avatar-danger">
                <img alt="..." class="img-circle" src="../../assets/images/face_4.jpg"/>
            </div>
    </div>
    <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                   I am a client of CALMS for the past 1 year. I am very satisfied with their consistent, timely services and polite attitude.
                I recommend this website to all who want to have hassle free utility services as a gift for their parents.
                </p>
            </div>
        </div>

    </div>
</div>
