<div class="card">
    <div class="row">
        <div class="col-md-6" style="border: solid 1px white;">
            <div class="card-header">
                <h3>
                    Introducing - CALMS Services
                </h3>
            </div>
            <div  >
                <h6 style="margin-left: 5px;">CALMS has a vision of offering a wide varitey of services to make living in your own home hassle free
                    and comfortable.</h6>
                <br>
                <br>
                <ul>
                    <li>Electricity Payment Service
                    <p>Paying electricity bill online is the most helpful option, you can pay anywhere & anytime without jumping the deadline. We can pay your EB bill without missing out the last date of electricity bill payment that leads to extra payment of late charges.</p>
                    <button class="btn btn-primary" routerLink="ebillsubscribe">Subscribe</button>
                    </li>
                </ul>
             
                <ul>
                    <li>Lab@Home Service
                    <p>We have tied with up Apollo Diagnostics who offer the sheer convenience of Home Sample Collection.
                        On receiving a call, Apollo’s trained technicians arrive at the doorstep of the patient to collect samples. Home collection is completely free of cost and reports can be mailed to you or can be delivered at home (On Chargeable Basis) the very next day.</p>
                    <button class="btn btn-primary" routerLink="labsubscribe">Subscribe</button>
                    </li>
                </ul>
                <p style="color:black"><b>Watch this space for more exciting services in the near future!</b></p>
            
            </div>
           
        </div>
        <div class="col-md-6"  style="border: solid 1px white;">
            <h5 style="margin-top: 20px;">Here's a video of how the advancements of technology are assiting the elderly.</h5>
            <br>
            <div style="margin-left: 100px;" >
                
                <youtube-player
                videoId="lNWHS9Kok8Q" 
                suggestedQuality="large" 
                [height]="450" 
                [width]="500" 
                [startSeconds]="'4'"
                [endSeconds]="60">
                </youtube-player>
                
            </div>
        </div>
    </div>
  
           


</div>

