

.card{
    background:#776c67;
    color:rgb(49,30,37);
    margin-top:100px;
    background-size: cover;
    border:1px solid white;
}



#maintable{
    height:85vh;
    background:#776c67;
}
.image{
    height:85vh;
    background-repeat: no-repeat;
    background-size: cover;
}