
    <!-- <div class="main">
    
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">CALMS Services  </div>
            <div class="list-group list-group-flush">
            <a routerLink="ebillsubscribe" class="list-group-item list-group-item-action bg-light">Electricity Bill Payment</a>
            <a routerLink="mbillsubscribe" class="list-group-item list-group-item-action bg-light">Mobile Bill Payment</a>
           
            </div>
        </div>
     
   

      <div class="right">
          <router-outlet></router-outlet>
      </div>
    </div> -->


    <div class="main">
        <router-outlet></router-outlet>
    </div>